{{#each this}}
<li>
  <h1>input.value</h1>
  <h2>{{dt}}</h2>
  <p>{{sunrise}}</p>
  <p>{{sunset}}</p>
  <p>{{presure}}</p>
  <p>{{humidity}}</p>
  <p>{{weather.main}}<span>{{weather.icon}}</span></p>
  <p>{{speed}}</p>
</li>
{{/each}}